<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Violence et petits chats</title>
		<link href="/style/swag.css" type="text/css" rel="stylesheet" />
		<link href="/style/swag_form.css" type="text/css" rel="stylesheet" />
		<link href="/style/swag_button.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="shortcut icon" href="/icons/mainpage.ico" >
    </head>

    <body class="container-fluid">
		<div class="Header col-md-12 container-fluid"></div>
		<div class="TheContainerOfDoomedKitten col-md-12 container-fluid">
        <% if (typeof toSay != 'undefined'
		&& toSay.hasOwnProperty("id") 		
		&& toSay.hasOwnProperty("name") 
		&& toSay.hasOwnProperty("insulte") 
		&& toSay.hasOwnProperty("recommended_action") 
		&& toSay.hasOwnProperty("proportion")
		&& toSay.hasOwnProperty("capacity")
		&& toSay.hasOwnProperty("context")
		&& toSay.hasOwnProperty("reproche")
		&& toSay.hasOwnProperty("cause")
		){ %><p class="bash_in_history">
        <%=toSay.name%> t'es vraiment 
		<%=toSay.insulte%> tu ferais mieux de 
		<%=toSay.recommended_action%> et je suis d'accord avec 
		<%=toSay.mec_d_accord%> 
		<%=toSay.proportion%> de l'eisti ne t'aimes pas tu fais trop ton malin... A part 
		<%=toSay.capacity%> tu sais rien faire d'autre #<%=toSay.context%> car excuse moi de 
		<%=toSay.reproche%> quand 
		<%=toSay.cause%>.</p>
        <% } %>
        <form action="/bashing" class="container-fluid" method="get">
                <button class="unleash-the-bash col-md-6" type="submit">More hate and cutes cats</button>
		        <% if (typeof toSay != 'undefined' 
		&& toSay.hasOwnProperty("id") 
		&& toSay.hasOwnProperty("name") 
		&& toSay.hasOwnProperty("insulte") 
		&& toSay.hasOwnProperty("recommended_action") 
		&& toSay.hasOwnProperty("proportion")
		&& toSay.hasOwnProperty("capacity")
		&& toSay.hasOwnProperty("context")
		&& toSay.hasOwnProperty("reproche")
		&& toSay.hasOwnProperty("cause")
		){ %>
		<button class="col-md-6 button_twitter popup" data-url="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fbash.faucheisti.eu%2Fbash%3Fid%3D<%=toSay.id%>&text=<%=toSay.name.replace(" ","%20")%>%20t%27es%20vraiment%20<%=toSay.insulte.replace(" ","%20")%>%20tu%20ferai%20mieux%20de%20<%=toSay.recommended_action.replace(" ","%20")%>...&tw_p=tweetbutton&url=http%3A%2F%2Fbash.faucheisti.eu%2Fbash%3Fid%3D<%=toSay.id%>">
		<span class="tweet_ico">Tweet</span>
		</button>
		<% } %>
        </form>
		</div>
		</div>
    </body>
		<script src="/front/popup.js"></script>
</html>