<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Violence et petits chats</title>
<link href="/style/swag.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_form.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_button.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_header.css" type="text/css" rel="stylesheet" />
<link href="/BasheistIcons/style.css" type="text/css" rel="stylesheet" />		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<link rel="shortcut icon" href="/icons/mainpage.ico" >
    </head>
    <body class="container-fluid">
	<nav class=" navbar-basheisti" role="navigation">
		<div class="">
			<a class="header-link" href="/bashing"><span class="icon-basheisti"></span></a>
			<a class="header-link" href="/bashistory" title="Derniers bash"><span class="icon-history"></span></a>
			<a class="header-link" href="/random"  title="Un bash au hasard"><strong>?</strong></a>
				<form class="header-searcher only-large" action="/bashsearch" id="search_form" method="post">
					<div class="form-group only-large">
						<input type="text" name="search_name" class=" only-large" placeholder="Search by name ...">
					</div>
					<a onclick="document.getElementById('search_form').submit();" title="Chercher par nom" class=""><span class="icon-search"></span></a>
				</form>
				<a class="header-link" class="navbar-right only-large" title="Github" href="https://github.com/EKlevrai/BashEistisisiazerty"><span class="icon-github"></span></a>
		</div><!-- /.container-fluid -->
	</nav>
	
	
		<div class="Header col-md-12 container-fluid"></div>
		<div class="TheContainerOfDoomedKitten col-md-12 container-fluid">
        <% if (typeof bashes != 'undefined'){
			bashes.forEach(function(entry){
			if( entry.hasOwnProperty("name") 
				&& entry.hasOwnProperty("insulte") 
				&& entry.hasOwnProperty("recommended_action") 
				&& entry.hasOwnProperty("proportion")
				&& entry.hasOwnProperty("capacity")
				&& entry.hasOwnProperty("context")
				&& entry.hasOwnProperty("reproche")
				&& entry.hasOwnProperty("cause")
		){ %><p class="bash_in_history">
        <%=entry.name%> t'es vraiment 
		<%=entry.insulte%> tu ferais mieux de 
		<%=entry.recommended_action%> et je suis d'accord avec 
		<%=entry.mec_d_accord%> 
		<%=entry.proportion%> de l'eisti ne t'aimes pas tu fais trop ton malin... A part 
		<%=entry.capacity%> tu sais rien faire d'autre #<%=entry.context%> car excuse moi de 
		<%=entry.reproche%> quand 
		<%=entry.cause%>.
		<a href="./bash?id=<%=entry.id%>">view bash</a>
		</p> 			
			<%}
		});}%>
        <form action="/bashing" method="get">
            <p>
                <input class="button_basheisti" type="submit" value="More hate and cutes cats" />
            </p>
        </form>
		</div>
		</div>
    </body>		<script src="/front/popup.js"></script>

</html>